# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Logs
logs
*.log

# Optional npm cache directory
.npm

# System files
.DS_Store
**/.DS_Store
